{% extends 'home/base.html' %}

{% block content %}

	{% block title_div %}
		<div class="page-header">
			<h1>
				<a href="{% url 'home:index' %}">
					Quiz It!</a><br><small>Check your knowledge in a given topic!</small>
				</a>
			</h1>
		</div>
	{% endblock %}

	{% block menu_div %}
		<nav class="navbar navbar-default navbar-inverse">
			<div class="container-fluid">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'home:index' %}">Home</a></li>
					<li class="dropdown active">
						<a href="{% url 'home:quizes' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quizes<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'literature:levels' %}">Literature</a></li>
							<li><a href="{% url 'music:levels' %}">Music</a></li>
							<li><a href="{% url 'tennis:levels' %}">Tennis</a></li>
						</ul>
					</li>
					<li><a href="{% url 'ranking:ranking' %}">Ranking</a></li>
					<li><a href="{% url 'home:about' %}">About</a></li>
					<li><a href="{% url 'home:contact' %}">Contact</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	{% endblock %}

	{% block content_div %}
		<div class="container">
			<div class="col-md-12">
				<div class="main-content">
					<span style="text-align:center;">
						<h3>Choose level of quiz</h3>
						<div class="center-block">
							<a href="{% url 'literature:easy' %}" class="level-url">
								<button type="button" class="btn btn-success">
								<span style="font-size: 25px;">Easy</span>
								</button>
							</a>
							<a href="{% url 'literature:medium' %}" class="level-url">
								<button type="button" class="btn btn-success">
								<span style="font-size: 25px;">Medium</span>
								</button>
							</a>
							<a href="{% url 'literature:hard' %}" class="level-url">
								<button type="button" class="btn btn-success">
								<span style="font-size: 25px;">Hard</span>
								</button>
							</a>
						</div>
					</span>
				</div>
			</div>
			<div class="col-md-8">
				<div class="description">
					<p><b>Literature</b>, in its broadest sense, is any single body of written works. More restrictively, literature is writing that is considered to be an art form, or any single writing deemed to have artistic or intellectual value, often due to deploying language in ways that differ from ordinary usage.</p>
					<p>Its Latin root <i>literatura/litteratura</i> (derived itself from <i>littera</i>: <i>letter</i> or <i>handwriting</i>) was used to refer to all written accounts, though contemporary definitions extend the term to include texts that are spoken or sung (oral literature). The concept has changed meaning over time: nowadays it can broaden to have non-written verbal art forms, and thus it is difficult to agree on its origin, which can be paired with that of language or writing itself. Developments in print technology have allowed an evergrowing distribution and proliferation of written works, culminating in electronic literature.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="image">
					<img src="#" class="img-responsive" alt="lit">
				</div>
			</div>
		</div>
	{% endblock %}

{% endblock %}