{% extends 'home/base.html' %}

{% block content %}

	{% block title_div %}
		<div class="page-header">
			<h1>
				<a href="{% url 'home:index' %}">
					Quiz It!</a><br><small>Check your knowledge in a given topic!</small>
				</a>
			</h1>
		</div>
	{% endblock %}

	{% block menu_div %}
		<nav class="navbar navbar-default navbar-inverse">
			<div class="container-fluid">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'home:index' %}">Home</a></li>
					<li class="dropdown active">
						<a href="{% url 'home:quizes' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quizes<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'literature:levels' %}">Literature</a></li>
							<li><a href="{% url 'music:levels' %}">Music</a></li>
							<li><a href="{% url 'tennis:levels' %}">Tennis</a></li>
						</ul>
					</li>
					<li><a href="{% url 'ranking:ranking' %}">Ranking</a></li>
					<li><a href="{% url 'home:about' %}">About</a></li>
					<li><a href="{% url 'home:contact' %}">Contact</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	{% endblock %}

	{% block content_div %}
		<div class="container">
			<div class="col-md-12">
				<div class="main-content">
					<span style="text-align:center;">
						<h3>Choose level of quiz</h3>
						<div class="center-block">
							<a href="{% url 'music:easy' %}" class="level-url">
								<button type="button" class="btn btn-success">
								<span style="font-size: 25px;">Easy</span>
								</button>
							</a>
							<a href="{% url 'music:medium' %}" class="level-url">
								<button type="button" class="btn btn-success">
								<span style="font-size: 25px;">Medium</span>
								</button>
							</a>
							<a href="{% url 'music:hard' %}" class="level-url">
								<button type="button" class="btn btn-success">
								<span style="font-size: 25px;">Hard</span>
								</button>
							</a>
						</div>
					</span>
				</div>
			</div>
			<div class="col-md-8">
				<div class="description">
					<p><b>Music</b> is an art form and cultural activity whose medium is sound organized in time.</p>
					<p>The common elements of music are pitch (which governs melody and harmony), rhythm (and its associated concepts tempo, meter, and articulation), dynamics (loudness and softness), and the sonic qualities of timbre and texture (which are sometimes termed the "color" of a musical sound).</p>
					<p>Different styles or types of music may emphasize, de-emphasize or omit some of these elements. Music is performed with a vast range of instruments and vocal techniques ranging from singing to rapping; there are solely instrumental pieces, solely vocal pieces (such as songs without instrumental accompaniment) and pieces that combine singing and instruments. The word derives from Greek μουσική (mousike; "art of the Muses").<p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="image">
					<img src="#" class="img-responsive" alt="music">
				</div>
			</div>
		</div>
	{% endblock %}

{% endblock %}