{% extends "home/base.html" %}

{% block content %}

	{% block title_div %}
		<div class="page-header">
			<h1>
				<a href="{% url 'home:index' %}">
					Quiz It!<br><small>Check your knowledge in a given topic!</small>
				</a>
			</h1>
		</div>
	{% endblock %}

	{% block menu_div %}
		<nav class="navbar navbar-default navbar-inverse">
			<div class="container-fluid">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'home:index' %}">Home</a></li>
					<li class="dropdown">
						<a href="{% url 'home:quizes' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quizes<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'literature:levels' %}">Literature</a></li>
							<li><a href="{% url 'music:levels' %}">Music</a></li>
							<li><a href="{% url 'tennis:levels' %}">Tennis</a></li>
						</ul>
					</li>
					<li><a href="{% url 'ranking:ranking' %}">Ranking</a></li>
					<li class="active"><a href="{% url 'home:about' %}">About<span class="sr-only">(current)</span></a></li>
					<li><a href="{% url 'home:contact' %}">Contact</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	{% endblock %}

	{% block content_div %}
		<div class="container" style="min-height:69%;">
			<div class="main-content">
				<p>Main idea of this page is my work on Django framework and Python. I thought about making a quiz, because it involves some working on databases, although they are not so fancy as you wish they were.</p>
				<p>Nevertheless I feel somewhat proud of the results of my work. The idea came to me about in the beginnig of August, so after one month the website's first version is done. Django is quite right - it is a framework for people with deadlines. Django helps you a lot in creating page, and if you don't want (or you are not ready) to tweak some things in the "core" of framework - you don't have to worry about a lot of things.</p>
				<p>Quiz idea is simple - there are 3 categories in each of them there are 3 levels of difficulty. For each level of difficulty you can score more points for every good answer (2, 4 or 6 respectively). On each level you answer for 10 questions. If you feel like you had a good shot, you can later save your results.</p>
				<p>Later I could add som login module so users can login and take as many quies and as often as they want to.</p>
				<p>The good thing about Django and its ideas is that there is almost no problem in expanding this page for another apps (similar, or different). It is so much helpful.</p>
			</div>
		</div>
	{% endblock %}

{% endblock %}