<!doctype html>
{% load staticfiles %}

<html lang=en>

<head>
	<meta charset = utf-8>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width", initial-scale="1">
	
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}" />
	<title>Quiz It!</title>
</head>

<body>
	{% block content %}
		{% block title_div %}
		{% endblock %}
		{% block menu_div %}
		{% endblock %}
		{% block content_div %}
		{% endblock %}
	{% endblock %}
	{% block footer %}
		<footer class="footer">
			<div class="footer-wrapper">
				<div class="footer-content">
					<p class="text-muted">&copy; 2017 Wojciech Warych</p>
				</div>
				<div class="footer-content">
					<a href="https://github.com/wojwarych/quizit">
						<i class="fa fa-github-alt" aria-hidden="true"></i>
					</a>
				</div>
				<div class="footer-content">
					<a href="https://www.facebook.com/wojtek.warych.3">
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</a>
				</div>
			</div>
		</footer>
	{% endblock %}
	<script src="{% static 'home/js/jquery-3.2.1.slim.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'home/js/bootstrap.min.js' %}"></script>
</body>
</html>

