{% extends "home/base.html" %}
{% load extra_tags %}

{% block content %}

	{% block title_div %}
		<div class="page-header">
			<h1>
				<a href="{% url 'home:index' %}">
					Quiz It!<br><small>Check your knowledge in a given topic!</small>
				</a>
			</h1>
		</div>
	{% endblock %}

	{% block menu_div %}
		<nav class="navbar navbar-default navbar-inverse">
			<div class="container-fluid">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'home:index' %}">Home</a></li>
					<li class="dropdown">
						<a href="{% url 'home:quizes' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quizes<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Literature</a></li>
							<li><a href="#">Music</a></li>
							<li><a href="{% url 'tennis:levels' %}">Tennis</a></li>
						</ul>
					</li>
					<li><a href="{% url 'home:about' %}">About</a></li>
					<li class="active"><a href="{% url 'home:contact' %}">Contact<span class="sr-only">(current)</span></a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	{% endblock %}

	{% block content_div %}
		<div class="container">
			<div class="main-content">
				<div class="contact-description">
					<p>Are you interested in sending me some feedback? What you think of this page? What's your opinion? Any suggestions?</p><p>Feel free to send me an e-mail.</p><p>Check out also my <span style="font-weight:800;"><a target="_blank" href="https:\\github.com\wojwarych">github</a></span> account!</p>
				</div>
			</div>
			<div class="contact-form">
				<form role="form" action="" method="post">
					{% csrf_token %}
						{{ form.non_field_errors }}
							<div class="field-wrapper">
								<div class="wrapped-content">
									{{ form.name|placeholder:'Your name...' }}
								</div>
								<div class="wrapped-content">
									{{ form.email|placeholder:'Your e-mail...' }}
								</div>
								<div class="wrapped-content">
									{{ form.message|placeholder:'Write your message here...'  }}
								</div>
							</div>
							<div class="send-button">
								<button type="submit" class="btn btn-info">Send message</button>
							</div>
				</form>
			</div>
		</div>
	{% endblock %}

{% endblock %}