{% extends 'home/base.html' %}

{% block content %}

	{% block title_div %}
		<div class="page-header">
			<h1>
				<a href="{% url 'home:index' %}">
					Quiz It!<br><small>Check your knowledge in a given topic!</small>
				</a>
			</h1>
		</div>
	{% endblock %}

	{% block menu_div %}
		<nav class="navbar navbar-default navbar-inverse">
			<div class="container-fluid">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="{% url 'home:index' %}">Home<span class="sr-only">(current)</span></a></li>
					<li class="dropdown">
						<a href="{% url 'home:quizes' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quizes<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'literature:levels' %}">Literature</a></li>
							<li><a href="{% url 'music:levels' %}">Music</a></li>
							<li><a href="{% url 'tennis:levels' %}">Tennis</a></li>
						</ul>
					<li><a href="{% url 'ranking:ranking' %}">Ranking</a></li>
					<li><a href="{% url 'home:about' %}">About</a></li>
					<li><a href="{% url 'home:contact' %}">Contact</a></li>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	{% endblock %}

	{% block content_div %}
			<div class="main-content" style="min-height: 69%;">
				<div class="container" style="padding-bottom:20px;">
					<span class="align-center">
						<p><b>Choose the quiz category you want to solve!</b></p>
					</span>
					<a href="{% url 'literature:levels' %}">
						<button type="button" class="btn btn-success">
							<span style="font-size: 18px;">Literature Quiz</span>
						</button>
					</a>
					<a href="{% url 'music:levels' %}">
						<button type="button" class="btn btn-success">
							<span style="font-size: 18px;">Music Quiz</span>
						</button>
					</a>
					<a href="{% url 'tennis:levels' %}">
						<button type="button" class="btn btn-success">
							<span style="font-size: 18px;">Tennis Quiz</span>
						</button>
					</a>
				</div>
				<div class="container" style="padding-top:10px;">
					<p>You can choose from three categories</p>
					<p>In each category there are three levels of difficulty</p>
					<p>For each good answer in easy level you get 2 points</p>
					<p>For each good answer in medium level you get 4 points</p>
					<p>For each good answer in hard level you get 6 points</p>
				</div>
			</div>
	{% endblock %}

{% endblock %}