@media (min-width: 768px){
    html body {
        background-color: #ececec;
        height: 100%
    }
    body {
        font-family: 'Lato', sans-serif;
        height: 100%
    }
    h1 {
        font-weight: bold;
    }
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }
    .navbar-nav > li {
        display: table-cell;
        float: none;
        text-align: center;
    }
    .page-header {
        padding-bottom:9px;
        margin:40px 0 20px;
        border-bottom: none;
        text-align: center;
    }
    .btn.btn-success{
        height: 75px;
        width: 150px;
    }
    .main-content {
        text-align: center;
        padding-top: 25px;
    }
    .center-block{
        padding-top: 35px;
    }

    .center-block > a {
        text-decoration: none;
    }
    .quiz-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .quiz-content > .container-fluid{
        text-align: left;
    }
}