	html, body {
		background-color: #ececec;
		height: 100%;
		min-height: 100%;
		margin: 0;
	}
	body {
		font-family: 'Lato', sans-serif;
	}
	h1 {
		font-weight: bold;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
	footer {
		background-color: #222;
		padding-top: 10px;
	}
	a:link, a:visited {
		text-decoration: inherit;
		color: inherit;
	}
	a:hover {
		text-decoration: inherit;
		color: #515151;
	}
	a:active {
		color: #898989;
	}
	p {
		text-align: justify;
		font-size: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.navbar-nav {
		margin: 0 auto;
		display: table;
		table-layout: auto;
		float: none;
		width: 100%;
	}
	.navbar-nav > li {
		display: table-cell;
		float: none;
		text-align: center;
	}
	.page-header {
		padding-bottom:9px;
		margin:40px 0 20px;
		border-bottom: none;
		text-align: center;
		text-decoration: none;
	}
	.btn.btn-success{
		height: 75px;
		width: 150px;
	}
	.description {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.main-content {
		text-align: center;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.image {
		padding-top: 25px;
	}
	.center-block{
		padding-top: 35px;
	}
	.center-block > a {
		text-decoration: none;
	}
	.article-header{
		font-size: 20px;
		font-weight: 800;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.article-title{
		display: inline-block;
		width: 49%;
		font-size: inherit;
		font-weight: inherit;
		text-align: left;
	}
	.article-date{
		display: inline-block;
		width: 49%;
		font-size: inherit;
		font-weight: inherit;
		text-align: right;
	}
	.article-header > hr {
		margin-top: 5px;
		margin-bottom: 5px;
		border-top: 2px solid #000;
	}
	.article-content {
		font-size: 18px;
		text-align: justify;
		color: #222;
		padding-bottom: 5px;
		padding-left: 50px;
		padding-right: 50px;
	}
	.read-more {
		text-align: right;
	}
	.contact {
		padding-bottom: 5px;
		justify-content: center;
		padding-left: 8px;
	}
	.name > textarea {
		width: 200px;
		-webkit-border-radius: 5px;
    	-moz-border-radius: 5px;
    	border-radius: 5px;
	}
	.email-adress {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.email-adress > textarea {
		width: 200px;
		-webkit-border-radius: 5px;
    	-moz-border-radius: 5px;
    	border-radius: 5px;
	}
	.email-text {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.email-text > textarea {
		width: 200px;
		height: 230px;
		-webkit-border-radius: 5px;
    	-moz-border-radius: 5px;
    	border-radius: 5px;
	}
	.field-wrapper{
		padding-top: 3px;
		padding-bottom: 3px;
	}
	.send-button {
		padding-bottom: 5px;
	}
	.send-button > button {
		padding-top: 2px;
		width: 125px;
		height: 50px;
		text-align: center;
		font-size: 15px;
	}
	.wrapped-content {
		padding-top: 2px;
		padding-bottom: 2px;
	}
	.wrapped-content > textarea {
		padding-top: 2px;
		padding-bottom: 2px;
		font-family: inherit;
		-webkit-border-radius: 5px;
    	-moz-border-radius: 5px;
    	border-radius: 5px;
	}
	.wrapped-content > textarea::placeholder {
		color: #5bc0de;
		opacity: 0.75;
	}
	.wrapped-content > input {
		padding-top: 2px;
		padding-bottom: 2px;
		font-family: inherit;
		-webkit-border-radius: 3px;
    	-moz-border-radius: 3px;
    	border-radius: 3px;
	}
	.wrapped-content > input::placeholder {
		color: #5bc0de;
		opacity: 0.75;
	}
	.quiz-content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		min-height: 568px;
	}
	.quiz-content > .quiz-question{
		text-align: left;
		font-size: 25px;
		font-weight: 800;
		padding-bottom: 25px;
		width: 100%;
		min-height: 25px;		
	}
	.quiz-content > .quiz-option{
		text-align: left;
		width: 100%;
		min-height: 65px;
		font-size: 18px;		
	}