{% extends 'home/base.html' %}

{% block content %}

	{% block content_div %}
	
		{% for quest in chosen_questions %}
			<div class="container">
				<div class="quiz-content">
					<div class="container-fluid">
						{{ quest.question }}<br>
						<label class="form-check-label">
							<input class="form-check-input" type="radio" name="choice{{ forloop.counter }}" id="choice{{ forloop.counter }}" value="{{ choice.id }}" checked>
							{{ quest.first_answ }}
						</label><br>
						<label class="form-check-label">
							<input class="form-check-input" type="radio" name="choice{{ forloop.counter }}" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
							{{ quest.second_answ }}
						</label><br>
						<label class="form-check-label">
							<input class="form-check-input" type="radio" name="choice{{ forloop.counter }}" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
							{{ quest.third_answ }}
						</label><br>
						<label class="form-check-label">
							<input class="form-check-input" type="radio" name="choice{{ forloop.counter }}" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
							{{ quest.fourth_answ }}
						</label>
					</div>
				</div>	
		{% endfor %}
				<div class="pagination">
					{% if chosen_questions.number < chosen_questions.paginator.num_pages %}
						<a href="?page={{ chosen_questions.next_page_number }}">next</a>
						<form action="?page={{ chosen_questions.next_page_number }}" method="get">
							{% csrf_token %}
							<a href="?page={{ chosen_questions.next_page_number }}">
								<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
									Submit
								</button>
							</a>
						</form>
					{% endif %}
					{% if chosen_questions.number == chosen_questions.paginator.num_pages %}

						<a href="{% url 'tennis:submit' %}">next</a>
							<form action="{% url 'tennis:submit' %}" method="get">
								{% csrf_token %}
									<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
										Submit
									</button>
							</form>
						<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">You finished!</h4>
								</div>
								<div class="modal-body">
									Thank you for answering questions! You can save your score!
								</div>
								<div class="modal-footer">
									<a href="" data-dismiss="modal" onclick="javascript:window.location={% url 'home:index' %}">
										<button type="button" class="btn btn-default" data-dismiss="modal">
											No, thanks!
										</button>
									</a>
									<a href="{% url 'tennis:submit' %}" class="submit-change">
										<button type="button" class="btn btn-primary">
											Save score
										</button>
									</a>
								</div>
								</div>
							</div>
						</div>
					{% endif %}
				</div>
				<div class="progress">
					{% for value in progress_list %}
						<div class="progress-bar" role="progressbar" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ value }}%;">
							<span class="sr-only">{{ value }}%</span>
						</div>
					{% endfor %}
				</div>
			</div>
	{% endblock %}

{% endblock %}