{% extends 'home/base.html' %}

{% block content %}

	{% block title_div %}
		<div class="page-header">
			<h1>
				<a href="{% url 'home:index' %}">
					Quiz It!</a><br><small>Check your knowledge in a given topic!</small>
				</a>
			</h1>
		</div>
	{% endblock %}

	{% block menu_div %}
		<nav class="navbar navbar-default navbar-inverse">
			<div class="container-fluid">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'home:index' %}">Home</a></li>
					<li class="dropdown active">
						<a href="{% url 'home:quizes' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quizes<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Literature</a></li>
							<li><a href="#">Music</a></li>
							<li><a href="{% url 'tennis:levels' %}">Tennis</a></li>
						</ul>
					</li>
					<li><a href="{% url 'home:about' %}">About</a></li>
					<li><a href="{% url 'home:contact' %}">Contact</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	{% endblock %}

	{% block content_div %}
		<div class="container">
			<div class="description">
				<div class="col-md-8">
					<p>Tennis is a racket sport that can be played individually against a single opponent (singles) or between two teams of two players each (doubles).</p>
					<p>Tennis is played by millions of recreational players and is also a popular worldwide spectator sport. The four Grand Slam tournaments (also referred to as the "Majors") are especially popular: the Australian Open played on hard courts, the French Open played on red clay courts, Wimbledon played on grass courts, and the US Open played also on hard courts.</p>
				</div>
				<div class="col-md-4">
					<img src="{{ STATIC_URL }}/images/tennis3.jpg" class="img-responsive" alt="tennis">
				</div>
			</div>
			<div class="main-content">
				<div class="col-md-8">
					<span style="text-align:center;">
						<h3>Choose level of quiz</h3>
						<div class="center-block">
							<a href="{% url 'tennis:easy' %}" class="level-url">
								<button type="button" class="btn btn-success">
								<span style="font-size: 25px;">Easy</span>
								</button>
							</a>
							<a href="{% url 'tennis:medium' %}" class="level-url">
								<button type="button" class="btn btn-success">
								<span style="font-size: 25px;">Medium</span>
								</button>
							</a>
							<a href="{% url 'tennis:hard' %}" class="level-url">
								<button type="button" class="btn btn-success">
								<span style="font-size: 25px;">Hard</span>
								</button>
							</a>
						</div>
					</span>
				</div>
			</div>
		</div>
	{% endblock %}

{% endblock %}